<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container">
      <h1 style="color: red">Add New Product</h1>
      
      <label for="name"><b>Name</b></label>
      <input formControlName="name" type="text" placeholder="Enter Name" 
              [ngClass]="{'is-invalid': f.name.errors}"/>
      <div *ngIf="submitted && f.name.errors">
          <div *ngIf="f.name.errors.required" class="validation">*Name is required</div>
      </div>

      <label for="price"><b>Price</b></label>
      <input formControlName="price" type="number" placeholder="Enter Price" 
              [ngClass]="{'is-invalid': f.price.errors}"/>
      <div *ngIf="submitted && f.price.errors">
          <div *ngIf="f.price.errors.required" class="validation">*Price is required</div>
      </div>

      <label for="description"><b>Description</b></label>
      <textarea formControlName="description" type="text" placeholder="Enter Description" name="description"
              [ngClass]="{'is-invalid': submitted && f.description.errors}">
      </textarea>
      <div *ngIf="submitted && f.description.errors">
          <div *ngIf="f.description.errors.required" class="validation">*Description is required</div>
      </div>
      

      <label for="promotion"><b>Promotion</b></label>
      <input formControlName="promotion" type="text" placeholder="Enter Promotion"
            [ngClass]="{'is-invalid': submitted && f.promotion.errors}"/>
      <div *ngIf="submitted && f.promotion.errors">
        <div *ngIf="f.promotion.errors.required" class="validation">*Promotion is required</div>
        <div *ngIf="f.promotion.errors.max" class="validation">*Promotion is not bigger than 100!</div>
      </div>

      <label for="image"><b>Main Image</b></label>
      <input formControlName="image" type="text" placeholder="Enter Image"
            [ngClass]="{'is-invalid': submitted && f.image.errors}"/>
      <div *ngIf="submitted && f.image.errors">
        <div *ngIf="f.image.errors.required" class="validation">*Main Image is required</div>
      </div>
      <a *ngIf="f.image.value !== ''" target="_blank" href="{{f.image.value}}">
        <img class="product-image" src="{{f.image.value}}" alt="image">
      </a>
      <br>

      <label for="subImage1"><b>Sub Image 1</b></label>
      <input formControlName="subImage1" type="text" placeholder="Enter Sub Image"
            [ngClass]="{'is-invalid': submitted && f.subImage1.errors}"/>
      <div *ngIf="submitted && f.subImage1.errors">
        <div *ngIf="f.subImage1.errors.required" class="validation">*Sub Image is required</div>
      </div>
      <a *ngIf="f.subImage1.value !== ''" target="_blank" href="{{f.subImage1.value}}">
        <img class="product-image" src="{{f.subImage1.value}}" alt="image">
      </a>
      <br>

      <label for="subImage2"><b>Sub Image 2</b></label>
      <input formControlName="subImage2" type="text" placeholder="Enter Sub Image"
            [ngClass]="{'is-invalid': submitted && f.subImage2.errors}"/>
      <div *ngIf="submitted && f.subImage2.errors">
        <div *ngIf="f.subImage2.errors.required" class="validation">*Sub Image is required</div>
      </div>
      <a *ngIf="f.subImage2.value !== ''" target="_blank" href="{{f.subImage2.value}}">
        <img class="product-image" src="{{f.subImage2.value}}" alt="image">
      </a>
      <br>

      <label for="subImage3"><b>Sub Image 3</b></label>
      <input formControlName="subImage3" type="text" placeholder="Enter Sub Image"
            [ngClass]="{'is-invalid': submitted && f.subImage3.errors}"/>
      <div *ngIf="submitted && f.subImage3.errors">
        <div *ngIf="f.subImage3.errors.required" class="validation">*Sub Image is required</div>
      </div>
      <a *ngIf="f.subImage3.value !== ''" target="_blank" href="{{f.subImage3.value}}">
        <img class="product-image" src="{{f.subImage3.value}}" alt="image">
      </a>
      <br>
      
      <div class="button-group">
          <button type="submit" class="registerbtn" style="margin-top: 20px">Edit</button>
          <button routerLink="../products" class="cancelbtn">Cancel</button>
      </div>
    </div>
  </form>

