.filter {
    width: 100%;
    height: 50px;
    margin: 20px 0;
    padding: 0 50px;
}

.option-category {
    float: left;
}

.search-bar {
    float: right;
}

select {
    width: 200px;
    height: 50px;
    margin-left: 15px;
}

.table-striped {
    height: 700px;
}