<div class="filter">
  <div class="option-category">
    <select name="selectOptionSearch" id="search" [(ngModel)]="categoryName" (change)="getProduct(categoryName)">
      <option *ngFor="let category of categories" [value]="category.categoryName">
        {{category.categoryName}}
      </option>
    </select>
  </div>
  
  <div class="search-bar">  
    <input class="form-control-lg" type="text" placeholder="Search..." [(ngModel)]="filter" />
  </div>
</div>

<div class="col-md-12" style="width: 100%;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Sale</th>
        <th>Image</th>
        <th>Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let product of products | filter: filter | paginate: {id: 'pagination', itemsPerPage: 5, currentPage: pageNumber}">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.promotion}}</td>
        <td><img src="{{product.image}}" height="100px" width="auto"></td>
        <td>{{product.description}}</td>
        <td><button class="btn btn-danger">Delete</button></td>
        <td><button routerLink="../edit/{{product.name}}" class="btn btn-primary">Edit</button></td>
      </tr>
    </tbody>
  </table>  
</div>

<div style="margin-left: 40%;">
  <pagination-controls id="pagination"
  (pageChange)="pageNumber = $event"></pagination-controls>
</div>
